.lft_menu{ position: fixed; background-color: #000; width: 275px; z-index: 1020; min-height: 100%;  height: calc(100vh-50px);
    margin: 0px 0px 0px 0px;
}
.lft_menu ul{ list-style: none; padding: 0px; margin: 0px;}
.lft_menu ul li{ display: block; color: #fff;}
.lft_menu ul li a{ color: #fff; text-decoration: none; padding: 12px 25px; display: block;}
.cbk_logo{ position: relative;}
.cbk_logo:after{ content: ""; position: absolute; width: 100%; height: 1px; bottom: 0; left: 0; right: 0;
    background-color: #222;
; 
}
.cbk_logo > img{ padding: 15px 20px; max-width: 110px; display: inline-block; margin: 0px 0px;}
.cbk_logo{ background-color: #000; position: relative; color: #fff;}
.profile_use{ color: #fff;
    position: absolute; right: 35px; top: 30px;
}
.user_icoprofile{ color: #fff;
    position: absolute; right: 10px; top: 30px;
}