.tp_hdr{ padding: 0px 0px 0px 250px; min-height: 75px;
    background: #259dd0; 
background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
background: linear-gradient(to right, #259dd0 0%,#162448 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 ); 
}
.em{ border-radius: 36px; box-shadow: none; -moz-appearance: none; appearance:none; 
    height: 50px;  margin: 12px 0px 0px 10px; border: none; padding-left: 25px;
}

.rftr_menu{ float: right; list-style: none; padding: 0px; margin: 0px;}
.rftr_menu li{ float: left; color: #fff; padding: 0px 20px;}
.userIcn{ font-size: 4rem!important; position: relative; top: 18px;}
.bell{ position: relative; top: 25px;}
.list{ position: relative;}
.list:after{ content:""; position: absolute; width: 1px; height: 75px; background-color: #fff; right: 0; top: 0px;
   background: #259dd0; /* Old browsers */
background: -moz-linear-gradient(top, #259dd0 3%, #162448 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #259dd0 3%,#162448 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #259dd0 3%,#162448 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=0 ); /* IE6-9 */}