<div class="container-fluid tp_hdr">
  <div class="col-xs-12 col-lg-12">
    <div class="col-xs-12 col-md-3">
        <!-- <form action="">
            <input type="email" class="form-control em" id="email" placeholder="Search">
        </form> -->
    </div>
    <div class="col-xs-12 col-md-9">
      <ul class="rftr_menu">
        <li><img src="assets/images/avatar.jpg" class="avtar_bg" width="100%"></li>
        <li class="list"><i class="fas fa-bell fa-2x bell"></i></li>
        <li class=""><i class="fas fa-search fa-2x bell"></i></li>
        
      </ul>
    </div>
  </div>
</div>
