.tp_hdr{ padding: 0px 0px 0px 275px; min-height: 66px; background-color: #fff;}
.em{ border-radius: 36px; box-shadow: none; -moz-appearance: none; appearance:none; 
    height: 50px;  margin: 12px 0px 0px 10px; border: 1px solid #ddd; padding-left: 25px;
}

.rftr_menu{ float: right; list-style: none; padding: 0px; margin: 0px;}
.rftr_menu li{ float: left; color: #2c2c2c; padding: 0px 18px;}
.userIcn{ font-size: 4rem!important; position: relative; top: 18px;}
.bell{ position: relative; top: 25px; font-size: 1.8rem;}
.list{ position: relative;}
.list:after{ content:""; position: absolute; width: 1px; height: 23px; background-color: #fff; right: 0; top: 23px;
background-color: #ddd;
}
.avtar_bg{ width: 35px; height: 35px; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%;
    border-radius:100%; position: relative; top: 15px;
}