.lg_wrapper{  padding: 0px; margin: 0px; background-size: 100% auto; background-repeat: no-repeat; position: relative;
   height: 100vh;
}
.rht_form{ position: relative; height: 100vh; background-color: #fff;}
.rht_forminnre{  position: absolute; top: 50%; left: 50%; 
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); width: 75%;
}
.lgr_logo{ max-width: 150px; margin: 0px auto 20px auto; height: 150px; padding: 30px;
    box-sizing: border-box; background-color: #000; border-radius: 100%; display: block;
}

